.App {
  text-align: center;
}

.App-logo {
  position: absolute;
  top: calc(50% - 20px);
  right: calc(50% - 20px);
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.contact-row:hover {
  cursor: pointer;
  background-color: #DDDDDD
}

th:hover {
  cursor: s-resize;
}